@model NaijaStartupApp.Models.NsuVariables.TemporaryVariables
<div class="chat-box-right" style="width:55vw;">
    <div class="chat-header">
        <a href="#" class="media">
            <div class="media-left">
            </div>
            <!-- media-left -->
            <div class="media-body">
                <div>
                    <h6 class="mb-1 mt-0">@Model.string_var0</h6>
                </div>
            </div>
            <!-- end media-body -->
        </a>
        <!--end media-->
        <div class="chat-features">
            <div class="d-none d-sm-inline-block">
            </div>
        </div>
        <!-- end chat-features -->
    </div>
    <!-- end chat-header -->
    <div class="chat-body">
        <div class="chat-detail slimscroll">
            @foreach (var item in Model.ChatModel.ViewChatDetails)
            {
                if (item.User.ToLower() == "user")
                {

                    @if (!string.IsNullOrWhiteSpace(item.documents))
                    {
                        <div class="media-body">
                            <div class="chat-msg">
                                <p><img src="@item.documents" class="img-responsive" style="height: 50%; width: 50%" alt="" /></p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body">
                                <div class="chat-msg">
                                    <p>@item.Message1</p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="media">
                            <div class="media-body">
                                <div class="chat-msg">
                                    <p>@item.Message1</p>
                                </div>
                            </div>
                        </div>
                    }

                    <!--end media-body-->
                }
                else
                {
                    <div class="media">

                        @if (!string.IsNullOrWhiteSpace(item.documents))
                        {
                            <div class="media-body reverse">
                                <div class="media-body">
                                    <div class="chat-msg">
                                        <p><img src="@item.documents" class="img-responsive" style="height: 50%; width: 50%" alt="" /></p>
                                    </div>
                                </div>
                            </div>
                            <div class="media-body reverse">
                                <div class="media-body">
                                    <div class="chat-msg">
                                        <p>@item.Message1</p>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="media-body reverse">
                                <div class="chat-msg">
                                    <p>@item.Message1</p>
                                </div>
                            </div>
                        }
                        <!--end media-body-->
                    <div class="media-img"><img src="~/assets/images/users/patient-pro.png" alt="user" class="rounded-circle thumb-md"></div>
                    </div>
                }
            }

        </div>
        <!-- end chat-detail -->
    </div>
    <!-- end chat-body -->
    <div class="chat-footer">
        <div class="row">
            <div class="col-12 col-md-9">
                <span class="chat-admin">
                </span>
                <input type="text" required name="string_var2" class="form-control" placeholder="Type something here...">
            </div>
            <!-- col-8 -->
            <div class="col-3 text-right">
                <div class="image-upload">
                    <label for="file-input">
                        <i class="fas fa-paperclip"></i>
                    </label>

                    <input id="file-input" type="file" name="File1" />
                    <button type="submit" class="fas fa-sign-in-alt"></button>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end chat-footer -->
</div>
