@model NaijaStartupApp.Models.NsuVariables.TemporaryVariables
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_DbLayout.cshtml";
}
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Edit Profile</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card dr-pro-pic">
                    <div class="card-body">
                            <div class="form-group row">
                                <span>Profile Picture</span>
                                <input type="file" id="input-file-now-custom-1" class="dropify" data-default-file="../assets/images/users/user-4.jpg">
                                </div>
                        <div class="">
                            <form role="form" method="post" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.string_var0, new { @placeholder = "First Name", @class = "form-control", @id = "First_Name" })

                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.string_var1, new { @placeholder = "Last Name", @class = "form-control", @id = "Last_Name" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.string_var2, new { @placeholder = "Email", @class = "form-control", @id = "Email", @readonly = "@readonly" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(m => m.string_var3, new { @placeholder = "State", @class = "form-control", @id = "State" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(m => m.string_var4, new { @placeholder = "Phone No", @class = "form-control", @id = "Phone_No" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.string_var9, new { @placeholder = "Username", @class = "form-control", @id = "Username", @readonly = "@readonly" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(m => m.string_var5,
                                                                      new List<SelectListItem>
                                                                       {
                                                                           new SelectListItem {Text = "Nigeria", Value = "Nigeria"},
                                                                           new SelectListItem {Text = "Ghana", Value = "Ghana"},
                                                                       }, "Select", new { @class = "form-control", @id = "edit-countries" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.string_var7, new { @placeholder = "Current Password", @class = "form-control", @id = "id_currentpassword" })
                                    </div>
                                    <div class="col-md-6">
                                        <span id='message'></span>
                                        @Html.TextBoxFor(m => m.string_var8, new { @placeholder = "New Password", @class = "form-control", @id = "id_newpassword" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.TextAreaFor(m => m.string_var6, new { @class = "form-control", rows = "5" })
                                    <button class="btn btn-danger btn-sm text-light px-4 mt-3 float-right mb-0 ml-2">Cancel</button>
                                    <button type="submit" class="btn btn-primary btn-sm text-light px-4 mt-3 float-right mb-0">Save Change</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- container -->
    <footer class="footer text-center text-sm-left">&copy; @DateTime.Now.Year <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by BloydIntelligi</span></footer>
    <!--end footer-->
</div>
<!-- end page content -->

 @section Scripts{
     <script>
          $('#id_newpassword, #id_currentpassword').on('keyup', function () {
            if ($('#id_newpassword').val() == $('#id_currentpassword').val()) {
                $('#message').html('Matching').css('color', 'green');
            } else
                $('#message').html('Not Matching').css('color', 'red');
        });
     </script>
 }
