@model NaijaStartupApp.Models.NsuVariables.TemporaryVariables
@{
    ViewData["Title"] = "order_review";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Order Review</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="grid-container full white-bg block-content-p">
                        <div class="grid-container">
                            <section id="block-zurblk-content" class="block-zurblk-content block block-system block-system-main-block">
                                <input autocomplete="off" data-drupal-selector="form-endohvkei8uvnrpcurqt6mjlpdylsmrdnu6ui55lgze" type="hidden" name="form_build_id" value="form-eNdOhVkEi8uvnRPCUrqt6MjlPdYlsmrDNu6UI55LGZE" class="form-endohvkei8uvnrpcurqt6mjlpdylsmrdnu6ui55lgze">

                                <input data-drupal-selector="edit-sgf-incorporate-form-form-token" type="hidden" name="form_token" value="_Z2TdPJeR6m3AYkf8BUm6mhVATM8kueysyQxYbZPg0Q" class="edit-sgf-incorporate-form-form-token">

                                <input data-drupal-selector="edit-sgf-incorporate-form" type="hidden" name="form_id" value="sgf_incorporate_form" class="edit-sgf-incorporate-form">
                                <div class="row sgf-incorporate-page-step-5">
                                    <div class="align-center" id="incorporateContent">
                                        <div class="grid-container full white-bg margin-bottom-3">
                                            <div class="grid-container">
                                                <div class="grid-x text-center incorporate-process">
                                                    <div class="medium-2 cell">
                                                        <p class="step-active">1. Company Name</p>
                                                    </div>
                                                    <div class="medium-2 cell padding-horizontal-1">
                                                        <p class="step-active">2. Packages</p>
                                                    </div>
                                                    <div class="medium-3 cell padding-right-1">
                                                        <p class="step-active">3. Details</p>
                                                    </div>
                                                    <div class="medium-2 cell padding-horizontal-1">
                                                        <p class="step-active">4. Officers</p>
                                                    </div>
                                                    <div class="medium-1 cell ">
                                                        <p class="step-active">5. Capital</p>
                                                    </div>
                                                    <div class="medium-2 cell padding-left-1">
                                                        <p class="step-active">6. Review / Payment</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                       
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="card profile-card">
                                                        <div class="card-body p-0">
                                                            <div class="media p-3 align-items-center">
                                                                <img src="../assets/images/widgets/comp1.png" alt="user" class="rounded-circle thumb-xl">
                                                                <div class="media-body ml-3 align-self-center">
                                                                    <h5 class="pro-title">Meri Gold Insurance</h5>
                                                                    <p class="mb-2 text-muted">MeriGoldInsurance@example.com</p>
                                                                    <button type="button" class="btn btn-xs btn-primary">Message</button>
                                                                </div>
                                                                <div class="action-btn">
                                                                    <button class="mr-1 btn btn-sm btn-soft-info"><i class="fas fa-pen"></i></button>
                                                                    <button class="btn btn-sm btn-soft-danger"><i class="far fa-trash-alt"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end card-body-->
                                                    </div>
                                                    <!--end card-->
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-4">
                                                    <div class="card profile-card">
                                                        <div class="card-body p-0">
                                                            <div class="media p-3 align-items-center">
                                                                <img src="../assets/images/widgets/comp2.png" alt="user" class="rounded-circle thumb-xl">
                                                                <div class="media-body ml-3 align-self-center">
                                                                    <h5 class="pro-title">National Insurance</h5>
                                                                    <p class="mb-2 text-muted">NationalInsurance@example.com</p>
                                                                    <button type="button" class="btn btn-xs btn-primary">Message</button>
                                                                </div>
                                                                <div class="action-btn">
                                                                    <button class="mr-1 btn btn-sm btn-soft-info"><i class="fas fa-pen"></i></button>
                                                                    <button class="btn btn-sm btn-soft-danger"><i class="far fa-trash-alt"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end card-body-->
                                                    </div>
                                                    <!--end card-->
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-4">
                                                    <div class="card profile-card">
                                                        <div class="card-body p-0">
                                                            <div class="media p-3 align-items-center">
                                                                <img src="../assets/images/widgets/comp3.png" alt="user" class="rounded-circle thumb-xl">
                                                                <div class="media-body ml-3 align-self-center">
                                                                    <h5 class="pro-title">7Star Insurance</h5>
                                                                    <p class="mb-2 text-muted">7StarInsurance@example.com</p>
                                                                    <button type="button" class="btn btn-xs btn-primary">Message</button>
                                                                </div>
                                                                <div class="action-btn">
                                                                    <button class="mr-1 btn btn-sm btn-soft-info"><i class="fas fa-pen"></i></button>
                                                                    <button class="btn btn-sm btn-soft-danger"><i class="far fa-trash-alt"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end card-body-->
                                                    </div>
                                                    <!--end card-->
                                                </div>
                                                <!--end col-->
                                            </div>

                                        <div class="tabs-panel is-active" id="capital-tab">
                                            <div class="grid-x grid-padding-x">
                                                <div id="previewForm">
                                                    <div id="previewPage" class="grid-container full">
                                                        <div class="grid-container">
                                                            <div class="grid-x grid-padding-x align-center">
                                                                <h2 class="thin-text width-100 text-center margin-bottom-2 rd-color"> REVIEW </h2>
                                                                <div class="large-12 cell">
                                                                    <div class="table-title">COMPANY DETAILS</div>
                                                                    <table class="hover">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="200">Company Name</td>
                                                                                <td class="text-bold">@Model.string_var0</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Alternative Company Name</td>
                                                                                <td colspan="2" class="text-bold">@Model.string_var1</td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td>SSIC 1</td>
                                                                                <td class="text-bold">@Model.string_var2</td>
                                                                            </tr>


                                                                            <tr>
                                                                                <td>Financial Year End</td>
                                                                                <td class="text-bold">
                                                                                    @Model.string_var3
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Address Line 1</td>
                                                                                <td class="text-bold">@Model.string_var4</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Address Line 2</td>
                                                                                <td class="text-bold">@Model.string_var5</td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>

                                                                    <div class="grid-x grid-margin-x">
                                                                        <div class="small-12 cell table-title">OFFICER DETAILS</div>
                                                                        <div class="large-6 medium-12 cell">
                                                                            @Html.Raw(@Model.string_var13)
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="large-12 cell">
                                                                    <div class="table-title">CAPITAL DETAILS</div>
                                                                    <table class="hover">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="200">Currency</td>
                                                                                <td class="text-bold">@Model.string_var6</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="200">Number of Share</td>
                                                                                <td class="text-bold">@Model.int_var0</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="200">Each Share Price</td>
                                                                                <td class="text-bold">@Model.string_var7</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="large-12 cell">
                                                                    <div class="table-title">SHAREHOLDER DETAILS</div>
                                                                    <table class="hover">
                                                                        <thead>
                                                                            <tr class="text-center">
                                                                                <th width="400">Shareholder Name</th>
                                                                                <th width="150">Allotted</th>
                                                                                <th width="100">Date</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>@Model.string_var8</td>
                                                                                <td class="text-center">@Model.decimal_var0</td>
                                                                                <td class="text-center">@Model.string_var9</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="large-12 cell">
                                                                    <div class="table-title">ORDER DETAILS</div>
                                                                    <table class="hover">
                                                                        <thead>
                                                                            <tr class="text-center">
                                                                                <th width="400">Package Name</th>
                                                                                <th width="150">Date Issue </th>
                                                                                <th width="100">Price</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>@Model.string_var10</td>
                                                                                <td class="text-center">@Model.string_var11</td>
                                                                                <td class="text-right">@Model.string_var12</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table class="hover">
                                                                        <thead>
                                                                            <tr class="text-center">
                                                                                <th width="400">Services Name</th>
                                                                                <th width="150">Date Issue </th>
                                                                                <th width="100">Price</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @Html.Raw(@Model.string_var14)
                                                                        </tbody>
                                                                    </table>
                                                                    <table class="hover">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="550" class="semibold">Total</td>
                                                                                <td width="100" class="semibold text-right">#2,788</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cell margin-vertical-2">
                                                    <div class="callout light-bg">


                                                        <div class="js-form-item form-item js-form-type-checkbox form-item-term-and-condition js-form-item-term-and-condition">
                                                            <input data-drupal-selector="edit-term-and-condition" type="checkbox" id="edit-term-and-condition" name="term_and_condition" value="1" class="form-checkbox edit-term-and-condition">

                                                            <label for="edit-term-and-condition" class="option">I have read and agree to the <a class="secondary-color previewTerms" data-open="previewTerms" aria-controls="previewTerms" aria-haspopup="true" tabindex="0">Terms and Conditions</a> &amp; <a class="secondary-color previewPolicy" data-open="previewPolicy" aria-controls="previewPolicy" aria-haspopup="true" tabindex="0">Privacy Policy</a></label>
                                                        </div>
                                                        <div class="js-form-item form-item js-form-type-checkbox form-item-data-is-correct js-form-item-data-is-correct">
                                                            <input data-drupal-selector="edit-data-is-correct" type="checkbox" id="edit-data-is-correct" name="data_is_correct" value="1" class="form-checkbox edit-data-is-correct">

                                                            <label for="edit-data-is-correct" class="option">I confirm that data is correct</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cell text-center margin-vertical-2">
                                                    <input class="secondary button js-form-submit form-submit edit-back" data-drupal-selector="edit-back" type="submit" id="edit-back" name="op" value="Back">
                                                    <input class="warning button js-form-submit form-submit edit-save-draft" data-drupal-selector="edit-save-draft" type="submit" id="edit-save-draft" name="op" value="SAVE AS DRAFT">
                                                    <input class="button button--primary js-form-submit form-submit edit-pay" onclick="payWithPaystack()" type="submit" id="edit-pay" name="op" value="DONE AND PAY">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </section>


                        </div>
                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- container -->
    <footer class="footer text-center text-sm-left">&copy; @DateTime.Now.Year <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by BloydIntelligi</span></footer>
    <!--end footer-->
</div>
<!-- end page content -->
<partial name="_SpinnerView" />
@section Scripts{
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script src="~/assets/js/payStack.js"></script>">
<script>

</script>

}
