@model NaijaStartupApp.Models.NsuVariables.TemporaryVariables
@{
    ViewData["Title"] = "order_summary";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}
    <form role="form" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <!-- Page Content-->
        <div class="page-content">
            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Packages</h4>
                        </div>
                        <!--end page-title-box-->
                    </div>
                    <!--end col-->
                </div>
                <!-- end page title end breadcrumb -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row sgf-incorporate-page-step-4">
                                    <div class="align-center" id="incorporateContent">
                                        <div class="grid-container full white-bg margin-bottom-3">
                                            <div class="grid-container">
                                                <div class="grid-x text-center incorporate-process">
                                                    <div class="medium-2 cell">
                                                        <p class="step-active">1. Company Name</p>
                                                    </div>
                                                    <div class="medium-2 cell padding-horizontal-1">
                                                        <p class="step-active">2. Packages</p>
                                                    </div>
                                                    <div class="medium-3 cell padding-right-1">
                                                        <p class="step-active">3. Details</p>
                                                    </div>
                                                    <div class="medium-2 cell padding-horizontal-1">
                                                        <p class="">4. Officers</p>
                                                    </div>
                                                    <div class="medium-1 cell ">
                                                        <p class="">5. Capital</p>
                                                    </div>
                                                    <div class="medium-2 cell padding-left-1">
                                                        <p class="">6. Review / Payment</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tabs-panel is-active" id="details-tab">
                                            <div class="grid-x grid-padding-x">
                                                <div id="detailsForm" class="large-8 medium-12 cell light-bg padding-top-1">
                                                    <h3 class="thin-text text-center">
                                                        <span class="incorporate-company-name">DANGOTE</span>
                                                        <span class="company-type-tail"> PTE. LTD.</span>
                                                        <a href="#" class="small-text text-underline" data-toggle="modal" data-target="#sgf-incorporate-change-company-name-popup" tabindex="0"><i class="far fa-edit"></i> Edit</a>
                                                    </h3>
                                                    <div class="grid-x grid-padding-x">

                                                        <div class="hide">

                                                            <div class="js-form-item form-item js-form-type-textfield form-item-company-alternative-name js-form-item-company-alternative-name">
                                                                <label for="edit-company-alternative-name">Alternative Company Name</label>
                                                                @*@Html.TextBoxFor(m => m.string_var0, new { @class = "form-text edit-company-alternative-name", maxlength = 128, id = "edit-company-alternative-name", name = "company[alternative_name]", size = "60" })*@

                                                            </div>

                                                        </div>
                                                        <div class="large-8 medium-8 cell position-relative custom-alternative-company-name">

                                                            <div class="js-form-item form-item js-form-type-textfield form-item-company-title js-form-item-company-title">
                                                                <label for="edit-company-title">Alternative Company Name <i class="fas fa-info-circle position-relative"><span class="my-tip">Please enter alternative company names in these field if you have further suggestion.</span></i></label>
                                                                @Html.TextBoxFor(m => m.string_var1, new { @class = "form-text edit-company-title", maxlength = 255, id = "edit-company-alternative-name", @placeholder="E.G ABCXYZ HOLDING", name = "company[title]", size = "60" })

                                                            </div>

                                                        </div>
                                                        <div class="large-4 medium-4 cell">

                                                            <div class="js-form-item form-item js-form-type-select form-item-company-field-company-type js-form-item-company-field-company-type form-disabled">
                                                                <label for="edit-company-field-company-type">Alternative Company Type</label>
                                                             @Html.TextBoxFor(m => m.string_var2, new { @class = "form-text edit-company-title", maxlength = 255, id = "edit-company-field-company-type", @placeholder="E.G ABCXYZ HOLDING", name = "company[title]", size = "60" })

                                                            </div>

                                                        </div>
                                                        <div class="large-8 medium-8 cell">

                                                            <div class="js-form-item form-item js-form-type-select form-item-financial-year-end js-form-item-financial-year-end">
                                                                <label for="edit-financial-year-end">Financial Year End * <i class="fas fa-info-circle position-relative"><span class="my-tip">Accounting period that can start on any day of a calendar year but has twelve consecutive months (52 consecutive weeks) at the end of which account books are closed, profit or loss is computed, and financial reports are prepared for filing.</span></i></label>
                                                                @Html.DropDownListFor(m => m.string_var3,
                                                                              new List<SelectListItem>
                                                                               {
                                                                                   new SelectListItem {Text = "October-2019", Value = "October-2019"},
                                                                                   new SelectListItem {Text = "November-2019", Value = "November-2019"},
                                                                                   new SelectListItem {Text = "December-2019", Value = "December-2019"},
                                                                                   new SelectListItem {Text = "January-2020", Value = "January-2020"},
                                                                                   new SelectListItem {Text = "February-2020", Value = "February-2020"},
                                                                                   new SelectListItem {Text = "March-2020", Value = "March-2020"},
                                                                                   new SelectListItem {Text = "April-2020", Value = "April-2020"},
                                                                                   new SelectListItem {Text = "May-2020", Value = "May-2020"},
                                                                                   new SelectListItem {Text = "June-2020", Value = "June-2020"},

                                                                                   new SelectListItem {Text = "July-2020", Value = "July-2020"},
                                                                                   new SelectListItem {Text = "August-2020", Value = "August-2020"},
                                                                                   new SelectListItem {Text = "September-2020", Value = "September-2020"},
                                                                               }, new { @class = "form-select", @id = "edit-financial-year-end" })
                                                            </div>

                                                        </div>
                                                        <div class="large-4 medium-4 cell">
                                                            <div class="invisible">checkname button</div><input class="check-name-btn expanded button js-form-submit form-submit edit-company-button-alternative" data-drupal-selector="edit-company-button-alternative" type="submit" id="edit-company-button-alternative" name="op" value="CHECK ALTERNATIVE NAME">
                                                        </div>
                                                        <div class="cell">
                                                            <label>
                                                                Business Activity<i class="fas fa-info-circle position-relative">
                                                                    <span class="my-tip">The Nigerian Standard Industrial Classification (SSIC)</span>
                                                                </i>
                                                            </label>


                                                            <div class="js-form-item form-item js-form-type-entity-autocomplete form-item-activities-ssic-1 js-form-item-activities-ssic-1">
                                                                <label for="edit-activities-ssic-1">First Business activity *<span class="small-text"> Please start typing to get the list of matching activities </span></label>
                                                                @Html.TextBoxFor(m => m.string_var4, new { @class = "form-autocomplete form-text edit-activities-ssic-1 ui-autocomplete-input", maxlength = 255, id = "edit-activities-ssic-1", @placeholder = "E.G. GENERAL WHOLESALE TRADE", name = "activities[ssic_1]", size = "60" })
                                                            </div>



                                                            <div class="js-form-item form-item js-form-type-entity-autocomplete form-item-activities-ssic-2 js-form-item-activities-ssic-2">
                                                                <label for="edit-activities-ssic-2">Second Business activity (optional)<span class="small-text"> Please start typing to get the list of matching activities </span></label>
                                                                @Html.TextBoxFor(m => m.string_var5, new { @class = "form-autocomplete form-text edit-activities-ssic-2 ui-autocomplete-input", maxlength = 255, id = "edit-activities-ssic-1", @placeholder = "E.G. Business Consulting", name = "activities[ssic_2]", size = "60" })
                                                            </div>



                                                            <fieldset class="cell">
                                                                <div class="fieldset">
                                                                    <legend class="text-bold">Address</legend>
                                                                    <p class="small-text margin-bottom-1">
                                                                        All Nigerian companies must have a Nigerian registered address. If do not
                                                                        have pls check.
                                                                    </p>

                                                                    <fieldset data-drupal-selector="edit-field-default-address" aria-describedby="edit-field-default-address--wrapper--description" id="edit-field-default-address--wrapper" class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
                                                                        <label for="">Registered Address Service</label>
                                                                        <div class="fieldset-wrapper ">
                                                                            <div id="edit-field-default-address" class="form-checkboxes">


                                                                                <div class="js-form-item form-item js-form-type-checkbox form-item-address-register-address-service js-form-item-address-register-address-service">
                                                                                    <input price="600" data-drupal-selector="edit-address-register-address-service" type="checkbox" id="edit-address-register-address-service" name="address[register_address_service]" value="1" class="form-checkbox edit-address-register-address-service">

                                                                                    <label for="edit-address-register-address-service" class="option">Registered Address (1yr) <i class="fas fa-info-circle position-relative"><span class="my-tip">All Nigerian companies must have a Nigerian registered address.</span></i></label>
                                                                                </div>


                                                                                <table class="hide">
                                                                                    <tbody>
                                                                                        <tr class="service-name p-s-item service-register_address" style="">
                                                                                            <td width="300" class=" title ">• Registered Address (1yr)</td>
                                                                                            <td width="80" class="text-right value " data-price="600">#600.00</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div id="edit-field-default-address--wrapper--description" class="description">
                                                                                All Nigerian companies must have a Nigerian
                                                                                registered address.
                                                                            </div>
                                                                        </div>
                                                                    </fieldset>


                                                                    <div class="js-form-item form-item js-form-type-textfield form-item-address-address-1 js-form-item-address-address-1">
                                                                        <label for="edit-address-address-1">Address Line 1 *</label>
                                                                        @Html.TextBoxFor(m => m.string_var6, new { @class = "form-text edit-address-address-1", maxlength = 128, id = "edit-address-address-1", @placeholder = "E.G. 6 EU TONG SEN ST #11-10F", name = "address[address_1]", size = "60" })

                                                                    </div>




                                                                    <div class="js-form-item form-item js-form-type-textfield form-item-address-address-2 js-form-item-address-address-2">
                                                                        <label for="edit-address-address-2">Address Line 2</label>
                                                                        @Html.TextBoxFor(m => m.string_var7, new { @class = "form-text edit-address-address-2", maxlength = 128, id = "edit-address-address-2", @placeholder = "E.G. SOHO1 CENTRAL Nigerian", name = "address[address_2]", size = "60" })

                                                                    </div>




                                                                    <div class="js-form-item form-item js-form-type-textfield form-item-address-postcode js-form-item-address-postcode">
                                                                        <label for="edit-address-postcode">Postcode</label>
                                                                        @Html.TextBoxFor(m => m.string_var8, new { @class = "form-text edit-address-postcode", maxlength = 128, id = "edit-address-postcode", @placeholder = "059817", name = "address[postcode]", size = "60" })
                                                                    </div>


                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <input class="secondary float-left margin-top-2 text-center margin-bottom-1 cancel button js-form-submit form-submit edit-details-actions-back" data-drupal-selector="edit-details-actions-back" type="submit" id="edit-details-actions-back" name="op" value="Back">
                                                    <input class="secondary float-right margin-top-2 text-center margin-bottom-1 button button--primary js-form-submit form-submit edit-next" data-drupal-selector="edit-button" type="submit" id="edit-button" name="op" value="NEXT">
                                                </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!-- container -->
            <footer class="footer text-center text-sm-left">&copy; @DateTime.Now.Year <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by BloydIntelligi</span></footer>
            <!--end footer-->
        </div>
        <!-- end page content -->
        </form>
    <partial name="_SpinnerView" />